@main("Cars"){
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/category.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/creative.css")">

        <!-- Page Content -->


  <img src="@routes.Assets.versioned("images/testcar.jpg")" alt="Chania">
      <header class="jumbotron hero-spacer">
        <h1>Through History</h1>

        <a href="products.html" id="producthead" class="text-center">Back to Categories</a>

      </header>
<div class="categories">
  <p>
    <a href="@routes.HomeController.cars"class="btn btn-primary">Cars</a>
    <a href="@routes.HomeController.music"class="btn btn-primary">Music</a>
    <a href="@routes.HomeController.sports"class="btn btn-primary">Sport</a>
  </p>

        <hr>

          <!-- Title -->
        <div class="row">
          <div class="col-lg-12">
            <h3>Cars</h3>
          </div>
        </div>
          <!-- /.row -->

          <!-- Page Features -->
        <hr>

        <div class="row text-center">

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

        </div>
          <!-- /.row -->

        <hr>

        <div class="row text-center">

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">

              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">

              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

        </div>
          <!-- /.row -->

        <hr>

        <div class="row text-center">

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">

              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
              <img src="@routes.Assets.versioned("images/prodtest.jpg")">
              <div class="caption">
                <h3>Feature Label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>
                  <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                </p>
              </div>
            </div>
          </div>

        </div>
	</div>
        <hr>

          <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; Just a div leaving in for now just in case...</p>
            </div>
          </div>
        </footer>


        <!-- /.container -->

      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="primary">
              <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <i class="fa fa-phone fa-3x sr-contact"></i>
              <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p><a href="mailto:your-email@@your-domain.com">feedback@@startbootstrap.com</a></p>
            </div>
          </div>
        </div>
      </section>
}
